body {
	margin: 0px;
	margin-bottom: 50px;
	font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #4997d0;
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  font-size: 16px;
  line-height: 50px;
}

a:hover { 
  background-color: white;
  color: #4997d0;
}

footer {
  background-color: #4997d0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 16px;
}

.lgsection {
	margin-top: 50px;
	height: 5px;
    width: auto;
    background-color: #edebeb;
}

.homeBusPhoto {
	width: auto;
}